## Benchmark

In [1]:
import pandas as pd
import numpy as np
import warnings
import time
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings('ignore')

### Functions

In [2]:
def get_min(x,xx):
    df22 = x[x.Month == xx]
    ff = df22.loc[df22['Return_Value'].idxmin()]
    print('Start Date:', ff[0])
    print('End Date:', ff[2])
    print('Return:',ff[4])
    
def get_max(x,xx):
    df22 = x[x.Month == xx]
    ff = df22.loc[df22['Return_Value'].idxmax()]
    print('Start Date:', ff[0])
    print('End Date:', ff[2])
    print('Return:',ff[4])
    
def top_return(x,xx,y):
    df44 = x[x['Month'] == xx]
    top = df44.nlargest(y, 'Return_Value')
    top2 = top[['Start_date', 'Date', 'Return_Value']]
    top2.rename({'Date':'End_date'}, inplace = True, axis = 1)
    print(top2.to_string(index=False))
    
def bottom_return(x,xx,y):
    df44 = x[x['Month'] == xx]
    top = df44.nsmallest(y, 'Return_Value')
    top2 = top[['Start_date', 'Date', 'Return_Value']]
    top2.rename({'Date':'End_date'}, inplace = True, axis = 1)
    print(top2.to_string(index=False))

### Load Index Data

In [3]:
df = pd.read_csv('data_for_test.csv')
df.drop('Unnamed: 0', inplace = True, axis = 1)
df['Date'] = pd.to_datetime(df['Date'], format="%m/%d/%y")
df.head(2)

,Date,SP_price,S&P,HS_price,HS,Gold_price,Gold,FTSE_price,FTSE,DJ_price,DJ,AGG_price,AGG,diff_10_2,CPI_PCH
0,1983-12-30,164.93,NaN,874.94,NaN,382.40,NaN,1000.0,NaN,1258.64,NaN,193.04,NaN,1.03,0.006903
1,1984-01-31,163.41,-0.009216,1102.38,0.259949,373.75,-0.02262,1063.0,0.063,1220.58,-0.030239,197.02,0.020617,1.05,0.004897

### Load Allication data

In [4]:
df2 = pd.read_csv('index_al.csv').set_index('Index')
df2.head(2)

,1,2,3,4,5,6,7,8,9,10,...,111,112,113,114,115,116,117,118,119,120
Index,,,,,,,,,,,,,,,,,,,,,
SP,0.175,0.1744,0.1738,0.1733,0.1727,0.1721,0.1715,0.1709,0.1703,0.1698,...,0.1067,0.106,0.1053,0.1047,0.104,0.1033,0.1027,0.102,0.1013,0.1007
DJ,0.175,0.1744,0.1738,0.1733,0.1727,0.1721,0.1715,0.1709,0.1703,0.1698,...,0.1067,0.106,0.1053,0.1047,0.104,0.1033,0.1027,0.102,0.1013,0.1007

In [5]:
ch = df[['Date', 'S&P', 'HS','Gold', 'FTSE', 'DJ', 'AGG', 'CPI_PCH']]
ch.head()

,Date,S&P,HS,Gold,FTSE,DJ,AGG,CPI_PCH
0,1983-12-30,NaN,NaN,NaN,NaN,NaN,NaN,0.006903
1,1984-01-31,-0.009216,0.259949,-0.022620,0.063000,-0.030239,0.020617,0.004897
2,1984-02-29,-0.038859,-0.039088,0.054849,-0.021355,-0.054032,-0.005126,0.002924
3,1984-03-30,0.013498,-0.042396,-0.014585,0.069403,0.008886,-0.011224,0.003887
4,1984-04-30,0.005466,0.022358,-0.032690,0.023191,0.005031,-0.001961,0.001936

### 120 Months 60-70

In [6]:
data = pd.DataFrame([], columns = ['Start_date','Month', 'Date', 'Start_Value', 'Return_Value'])
dd_list = ch.Date.tolist()
for ww in dd_list:
    if ww > pd.to_datetime('2009-08-31'):
        break
    sv = 100000.00
    dd = ch[ch.Date >= ww].reset_index().drop('index', axis = 1)
    sd = dd.iloc[0][0]
    print(sd.date())
    for i in range(1,121):
        col = i - 1
        sp_value = round(sv * df2.iloc[0,col],2)
        dj_value = round(sv * df2.iloc[1,col],2)
        hs_value = round(sv * df2.iloc[2,col],2)
        ft_value = round(sv * df2.iloc[3,col],2)
        agg_value = round(sv * df2.iloc[4,col],2)
        gold_value = round(sv * df2.iloc[5,col],2)

        sv2 = sv
        dt = dd.iloc[i][0]
        sp500 = dd.iloc[i][1]
        hs = dd.iloc[i][2]
        gold = dd.iloc[i][3]
        ft = dd.iloc[i][4]
        dj = dd.iloc[i][5]
        agg = dd.iloc[i][6]

        sp500_cash = round(sp_value * (1 + sp500) ,2)

        hs_cash = round(hs_value * (1 + hs) ,2)

        gold_cash = round(gold_value * (1 + gold) ,2)

        ft_cash = round(ft_value * (1 + ft) ,2)

        dj_cash = round(dj_value * (1 + dj) ,2)

        agg_cash = round(agg_value * (1 + agg) ,2)

        sv = round(sum([agg_cash, dj_cash, ft_cash, gold_cash, hs_cash, sp500_cash]),2)
        mm = 'Month ' + str(i)
        data = data.append({'Start_date':sd,'Month':mm, 'Date': dt, 'Start_Value':sv2, 'Return_Value': sv },ignore_index = True)

1983-12-30
1984-01-31
1984-02-29
1984-03-30
1984-04-30
1984-05-31
1984-06-29
1984-07-31
1984-08-31
1984-09-28
1984-10-31
1984-11-30
1984-12-31
1985-01-31
1985-02-28
1985-03-29
1985-04-30
1985-05-31
1985-06-28
1985-07-31
1985-08-30
1985-09-30
1985-10-31
1985-11-29
1985-12-31
1986-01-31
1986-02-28
1986-03-31
1986-04-30
1986-05-30
1986-06-30
1986-07-31
1986-08-29
1986-09-30
1986-10-31
1986-11-28
1986-12-31
1987-01-30
1987-02-27
1987-03-31
1987-04-30
1987-05-29
1987-06-30
1987-07-31
1987-08-31
1987-09-30
1987-10-30
1987-11-30
1987-12-31
1988-01-29
1988-02-29
1988-03-31
1988-04-29
1988-05-31
1988-06-30
1988-07-29
1988-08-31
1988-09-30
1988-10-31
1988-11-30
1988-12-30
1989-01-31
1989-02-28
1989-03-31
1989-04-28
1989-05-31
1989-06-30
1989-07-31
1989-08-31
1989-09-29
1989-10-31
1989-11-30
1989-12-29
1990-01-31
1990-02-28
1990-03-30
1990-04-30
1990-05-31
1990-06-29
1990-07-31
1990-08-31
1990-09-28
1990-10-31
1990-11-30
1990-12-31
1991-01-31
1991-02-28
1991-03-29
1991-04-30
1991-05-31
1991-06-28
1991-07-31
1991-08-30
1991-09-30
1991-10-31
1991-11-29
1991-12-31
1992-01-31
1992-02-28
1992-03-31
1992-04-30
1992-05-29
1992-06-30
1992-07-31
1992-08-31
1992-09-30
1992-10-30
1992-11-30
1992-12-31
1993-01-29
1993-02-26
1993-03-31
1993-04-30
1993-05-31
1993-06-30
1993-07-30
1993-08-31
1993-09-30
1993-10-29
1993-11-30
1993-12-31
1994-01-31
1994-02-28
1994-03-31
1994-04-29
1994-05-31
1994-06-30
1994-07-29
1994-08-31
1994-09-30
1994-10-31
1994-11-30
1994-12-30
1995-01-31
1995-02-28
1995-03-31
1995-04-28
1995-05-31
1995-06-30
1995-07-31
1995-08-31
1995-09-29
1995-10-31
1995-11-30
1995-12-29
1996-01-31
1996-02-29
1996-03-29
1996-04-30
1996-05-31
1996-06-28
1996-07-31
1996-08-30
1996-09-30
1996-10-31
1996-11-29
1996-12-31
1997-01-31
1997-02-28
1997-03-31
1997-04-30
1997-05-30
1997-06-30
1997-07-31
1997-08-29
1997-09-30
1997-10-31
1997-11-28
1997-12-31
1998-01-30
1998-02-27
1998-03-31
1998-04-30
1998-05-29
1998-06-30
1998-07-31
1998-08-31
1998-09-30
1998-10-30
1998-11-30
1998-12-31
1999-01-29
1999-02-26
1999-03-31
1999-04-30
1999-05-31
1999-06-30
1999-07-30
1999-08-31
1999-09-30
1999-10-29
1999-11-30
1999-12-31
2000-01-31
2000-02-29
2000-03-31
2000-04-28
2000-05-31
2000-06-30
2000-07-31
2000-08-31
2000-09-29
2000-10-31
2000-11-30
2000-12-29
2001-01-31
2001-02-28
2001-03-30
2001-04-30
2001-05-31
2001-06-29
2001-07-31
2001-08-31
2001-09-28
2001-10-31
2001-11-30
2001-12-31
2002-01-31
2002-02-28
2002-03-29
2002-04-30
2002-05-31
2002-06-28
2002-07-31
2002-08-30
2002-09-30
2002-10-31
2002-11-29
2002-12-31
2003-01-31
2003-02-28
2003-03-31
2003-04-30
2003-05-30
2003-06-30
2003-07-31
2003-08-29
2003-09-30
2003-10-31
2003-11-28
2003-12-31
2004-01-30
2004-02-27
2004-03-31
2004-04-30
2004-05-31
2004-06-30
2004-07-30
2004-08-31
2004-09-30
2004-10-29
2004-11-30
2004-12-31
2005-01-31
2005-02-28
2005-03-31
2005-04-29
2005-05-31
2005-06-30
2005-07-29
2005-08-31
2005-09-30
2005-10-31
2005-11-30
2005-12-30
2006-01-31
2006-02-28
2006-03-31
2006-04-28
2006-05-31
2006-06-30
2006-07-31
2006-08-31
2006-09-29
2006-10-31
2006-11-30
2006-12-29
2007-01-31
2007-02-28
2007-03-30
2007-04-30
2007-05-31
2007-06-29
2007-07-31
2007-08-31
2007-09-28
2007-10-31
2007-11-30
2007-12-31
2008-01-31
2008-02-29
2008-03-31
2008-04-30
2008-05-30
2008-06-30
2008-07-31
2008-08-29
2008-09-30
2008-10-31
2008-11-28
2008-12-31
2009-01-30
2009-02-27
2009-03-31
2009-04-30
2009-05-29
2009-06-30
2009-07-31
2009-08-31

In [7]:
data

      Start_date      Month       Date  Start_Value  Return_Value
0     1983-12-30    Month 1 1984-01-31    100000.00     102981.40
1     1983-12-30    Month 2 1984-02-29    102981.40     101679.07
2     1983-12-30    Month 3 1984-03-30    101679.07     101812.37
3     1983-12-30    Month 4 1984-04-30    101812.37     101795.86
4     1983-12-30    Month 5 1984-05-31    101795.86      97042.56
...          ...        ...        ...          ...           ...
37075 2009-08-31  Month 116 2019-04-30    174820.59     175914.43
37076 2009-08-31  Month 117 2019-05-31    175914.43     173632.14
37077 2009-08-31  Month 118 2019-06-28    173632.14     183020.03
37078 2009-08-31  Month 119 2019-07-31    183020.03     184321.75
37079 2009-08-31  Month 120 2019-08-30    184321.75     188111.99

[37080 rows x 5 columns]

In [8]:
data.to_csv('benchmark_120months.csv')

In [8]:
### Mean Return
print('Mean Return 120 Month:', round(data[data['Month'] == 'Month 120']['Return_Value'].mean(),2))

Mean Return 120 Month: 204966.99

In [10]:
### Min Return
get_min(data, 'Month 120')

Start Date: 2007-10-31 00:00:00
End Date: 2017-10-31 00:00:00
Return: 143519.97

In [11]:
### Max Return
get_max(data, 'Month 120')

Start Date: 1984-07-31 00:00:00
End Date: 1994-07-29 00:00:00
Return: 295738.99

In [12]:
### Top 10
top_return(data, 'Month 120', 10)

Start_date   End_date  Return_Value
1984-07-31 1994-07-29     295738.99
1984-05-31 1994-05-31     285602.51
1983-12-30 1993-12-31     285558.24
1984-06-29 1994-06-30     281106.70
1984-08-31 1994-08-31     280902.47
1984-01-31 1994-01-31     278115.41
1984-02-29 1994-02-28     277032.50
1984-09-28 1994-09-30     275487.53
1984-10-31 1994-10-31     273557.91
1984-03-30 1994-03-31     270217.71

In [13]:
### Bottom 10
bottom_return(data, 'Month 120', 10)

Start_date   End_date  Return_Value
2007-10-31 2017-10-31     143519.97
2007-09-28 2017-09-29     148424.95
2007-11-30 2017-11-30     149006.03
2007-12-31 2017-12-29     149591.65
2008-04-30 2018-04-30     151214.91
2006-12-29 2016-12-30     152449.10
2008-02-29 2018-02-28     152529.66
2008-05-30 2018-05-31     152648.55
2006-11-30 2016-11-30     154216.54
2007-06-29 2017-06-30     154432.26

### 60 months 60 - 65

In [14]:
data2 = pd.DataFrame([], columns = ['Start_date','Month', 'Date', 'Start_Value', 'Return_Value'])
dd_list = ch.Date.tolist()
for i in dd_list:
    if i > pd.to_datetime('2014-08-31'):
        break
    sv = 100000.00
    dd = ch[ch.Date >= i].reset_index().drop('index', axis = 1)
    sd = dd.iloc[0][0]
    print(sd.date())
    for i in range(1,61):
        col = i - 1
        sp_value = round(sv * df2.iloc[0,col],2)
        dj_value = round(sv * df2.iloc[1,col],2)
        hs_value = round(sv * df2.iloc[2,col],2)
        ft_value = round(sv * df2.iloc[3,col],2)
        agg_value = round(sv * df2.iloc[4,col],2)
        gold_value = round(sv * df2.iloc[5,col],2)

        sv2 = sv
        dt = dd.iloc[i][0]
        sp500 = dd.iloc[i][1]
        hs = dd.iloc[i][2]
        gold = dd.iloc[i][3]
        ft = dd.iloc[i][4]
        dj = dd.iloc[i][5]
        agg = dd.iloc[i][6]

        sp500_cash = round(sp_value * (1 + sp500) ,2)

        hs_cash = round(hs_value * (1 + hs) ,2)

        gold_cash = round(gold_value * (1 + gold) ,2)

        ft_cash = round(ft_value * (1 + ft) ,2)

        dj_cash = round(dj_value * (1 + dj) ,2)

        agg_cash = round(agg_value * (1 + agg) ,2)

        sv = round(sum([agg_cash, dj_cash, ft_cash, gold_cash, hs_cash, sp500_cash]),2)
        mm = 'Month ' + str(i)
        data2 = data2.append({'Start_date':sd,'Month':mm, 'Date': dt, 'Start_Value':sv2, 'Return_Value': sv },ignore_index = True)

1983-12-30
1984-01-31
1984-02-29
1984-03-30
1984-04-30
1984-05-31
1984-06-29
1984-07-31
1984-08-31
1984-09-28
1984-10-31
1984-11-30
1984-12-31
1985-01-31
1985-02-28
1985-03-29
1985-04-30
1985-05-31
1985-06-28
1985-07-31
1985-08-30
1985-09-30
1985-10-31
1985-11-29
1985-12-31
1986-01-31
1986-02-28
1986-03-31
1986-04-30
1986-05-30
1986-06-30
1986-07-31
1986-08-29
1986-09-30
1986-10-31
1986-11-28
1986-12-31
1987-01-30
1987-02-27
1987-03-31
1987-04-30
1987-05-29
1987-06-30
1987-07-31
1987-08-31
1987-09-30
1987-10-30
1987-11-30
1987-12-31
1988-01-29
1988-02-29
1988-03-31
1988-04-29
1988-05-31
1988-06-30
1988-07-29
1988-08-31
1988-09-30
1988-10-31
1988-11-30
1988-12-30
1989-01-31
1989-02-28
1989-03-31
1989-04-28
1989-05-31
1989-06-30
1989-07-31
1989-08-31
1989-09-29
1989-10-31
1989-11-30
1989-12-29
1990-01-31
1990-02-28
1990-03-30
1990-04-30
1990-05-31
1990-06-29
1990-07-31
1990-08-31
1990-09-28
1990-10-31
1990-11-30
1990-12-31
1991-01-31
1991-02-28
1991-03-29
1991-04-30
1991-05-31
1991-06-28
1991-07-31
1991-08-30
1991-09-30
1991-10-31
1991-11-29
1991-12-31
1992-01-31
1992-02-28
1992-03-31
1992-04-30
1992-05-29
1992-06-30
1992-07-31
1992-08-31
1992-09-30
1992-10-30
1992-11-30
1992-12-31
1993-01-29
1993-02-26
1993-03-31
1993-04-30
1993-05-31
1993-06-30
1993-07-30
1993-08-31
1993-09-30
1993-10-29
1993-11-30
1993-12-31
1994-01-31
1994-02-28
1994-03-31
1994-04-29
1994-05-31
1994-06-30
1994-07-29
1994-08-31
1994-09-30
1994-10-31
1994-11-30
1994-12-30
1995-01-31
1995-02-28
1995-03-31
1995-04-28
1995-05-31
1995-06-30
1995-07-31
1995-08-31
1995-09-29
1995-10-31
1995-11-30
1995-12-29
1996-01-31
1996-02-29
1996-03-29
1996-04-30
1996-05-31
1996-06-28
1996-07-31
1996-08-30
1996-09-30
1996-10-31
1996-11-29
1996-12-31
1997-01-31
1997-02-28
1997-03-31
1997-04-30
1997-05-30
1997-06-30
1997-07-31
1997-08-29
1997-09-30
1997-10-31
1997-11-28
1997-12-31
1998-01-30
1998-02-27
1998-03-31
1998-04-30
1998-05-29
1998-06-30
1998-07-31
1998-08-31
1998-09-30
1998-10-30
1998-11-30
1998-12-31
1999-01-29
1999-02-26
1999-03-31
1999-04-30
1999-05-31
1999-06-30
1999-07-30
1999-08-31
1999-09-30
1999-10-29
1999-11-30
1999-12-31
2000-01-31
2000-02-29
2000-03-31
2000-04-28
2000-05-31
2000-06-30
2000-07-31
2000-08-31
2000-09-29
2000-10-31
2000-11-30
2000-12-29
2001-01-31
2001-02-28
2001-03-30
2001-04-30
2001-05-31
2001-06-29
2001-07-31
2001-08-31
2001-09-28
2001-10-31
2001-11-30
2001-12-31
2002-01-31
2002-02-28
2002-03-29
2002-04-30
2002-05-31
2002-06-28
2002-07-31
2002-08-30
2002-09-30
2002-10-31
2002-11-29
2002-12-31
2003-01-31
2003-02-28
2003-03-31
2003-04-30
2003-05-30
2003-06-30
2003-07-31
2003-08-29
2003-09-30
2003-10-31
2003-11-28
2003-12-31
2004-01-30
2004-02-27
2004-03-31
2004-04-30
2004-05-31
2004-06-30
2004-07-30
2004-08-31
2004-09-30
2004-10-29
2004-11-30
2004-12-31
2005-01-31
2005-02-28
2005-03-31
2005-04-29
2005-05-31
2005-06-30
2005-07-29
2005-08-31
2005-09-30
2005-10-31
2005-11-30
2005-12-30
2006-01-31
2006-02-28
2006-03-31
2006-04-28
2006-05-31
2006-06-30
2006-07-31
2006-08-31
2006-09-29
2006-10-31
2006-11-30
2006-12-29
2007-01-31
2007-02-28
2007-03-30
2007-04-30
2007-05-31
2007-06-29
2007-07-31
2007-08-31
2007-09-28
2007-10-31
2007-11-30
2007-12-31
2008-01-31
2008-02-29
2008-03-31
2008-04-30
2008-05-30
2008-06-30
2008-07-31
2008-08-29
2008-09-30
2008-10-31
2008-11-28
2008-12-31
2009-01-30
2009-02-27
2009-03-31
2009-04-30
2009-05-29
2009-06-30
2009-07-31
2009-08-31
2009-09-30
2009-10-30
2009-11-30
2009-12-31
2010-01-29
2010-02-26
2010-03-31
2010-04-30
2010-05-31
2010-06-30
2010-07-30
2010-08-31
2010-09-30
2010-10-29
2010-11-30
2010-12-31
2011-01-31
2011-02-28
2011-03-31
2011-04-29
2011-05-31
2011-06-30
2011-07-29
2011-08-31
2011-09-30
2011-10-31
2011-11-30
2011-12-30
2012-01-31
2012-02-29
2012-03-30
2012-04-30
2012-05-31
2012-06-29
2012-07-31
2012-08-31
2012-09-28
2012-10-31
2012-11-30
2012-12-31
2013-01-31
2013-02-28
2013-03-29
2013-04-30
2013-05-31
2013-06-28
2013-07-31
2013-08-30
2013-09-30
2013-10-31
2013-11-29
2013-12-31
2014-01-31
2014-02-28
2014-03-31
2014-04-30
2014-05-30
2014-06-30
2014-07-31
2014-08-29

In [15]:
data2

      Start_date     Month       Date  Start_Value  Return_Value
0     1983-12-30   Month 1 1984-01-31    100000.00     102981.40
1     1983-12-30   Month 2 1984-02-29    102981.40     101679.07
2     1983-12-30   Month 3 1984-03-30    101679.07     101812.37
3     1983-12-30   Month 4 1984-04-30    101812.37     101795.86
4     1983-12-30   Month 5 1984-05-31    101795.86      97042.56
...          ...       ...        ...          ...           ...
22135 2014-08-29  Month 56 2019-04-30    121143.85     122441.93
22136 2014-08-29  Month 57 2019-05-31    122441.93     119486.49
22137 2014-08-29  Month 58 2019-06-28    119486.49     126157.70
22138 2014-08-29  Month 59 2019-07-31    126157.70     127042.51
22139 2014-08-29  Month 60 2019-08-30    127042.51     128151.99

[22140 rows x 5 columns]

In [16]:
data2.to_csv('benchmark60_65_60months.csv')

In [17]:
### Mean Return 
print('Mean Return 60-65:' , round(data2[data2.Month == 'Month 60']['Return_Value'].mean(),2))

Mean Return 60-65: 144508.26

In [18]:
### Min Return
get_min(data2, 'Month 60')

Start Date: 1998-03-31 00:00:00
End Date: 2003-03-31 00:00:00
Return: 104710.27

In [19]:
#### Max Return 
get_max(data2, 'Month 60')

Start Date: 1984-07-31 00:00:00
End Date: 1989-07-31 00:00:00
Return: 205155.36

In [20]:
### Top 10
top_return(data2, 'Month 60', 10)

Start_date   End_date  Return_Value
1984-07-31 1989-07-31     205155.36
1984-12-31 1989-12-29     194882.44
1984-11-30 1989-11-30     194820.05
1984-08-31 1989-08-31     191138.11
1984-05-31 1989-05-31     191115.99
1984-09-28 1989-09-29     190677.68
1984-06-29 1989-06-30     190086.08
1984-10-31 1989-10-31     189689.80
2002-09-30 2007-09-28     189392.60
2002-10-31 2007-10-31     188881.71

In [21]:
### Bottom 10
bottom_return(data2, 'Month 60', 10)

Start_date   End_date  Return_Value
1998-03-31 2003-03-31     104710.27
1997-09-30 2002-09-30     105051.97
1998-04-30 2003-04-30     107696.61
1997-07-31 2002-07-31     108249.68
1998-02-27 2003-02-28     108401.59
1999-04-30 2004-04-30     110420.48
2000-03-31 2005-03-31     110469.66
1999-12-31 2004-12-31     111362.39
2000-08-31 2005-08-31     111841.56
2011-01-31 2016-01-29     113537.69

### 60 Months 65 - 70

In [22]:
data3 = pd.DataFrame([], columns = ['Start_date','Month', 'Date', 'Start_Value', 'Return_Value'])
dd_list = ch.Date.tolist()
for i in dd_list:
    if i > pd.to_datetime('2014-08-31'):
        break
    sv = 100000.00
    dd = ch[ch.Date >= i].reset_index().drop('index', axis = 1)
    sd = dd.iloc[0][0]
    print(sd.date())
    for i in range(1,61):
        col = i + 59
        sp_value = round(sv * df2.iloc[0,col],2)
        dj_value = round(sv * df2.iloc[1,col],2)
        hs_value = round(sv * df2.iloc[2,col],2)
        ft_value = round(sv * df2.iloc[3,col],2)
        agg_value = round(sv * df2.iloc[4,col],2)
        gold_value = round(sv * df2.iloc[5,col],2)

        sv2 = sv
        dt = dd.iloc[i][0]
        sp500 = dd.iloc[i][1]
        hs = dd.iloc[i][2]
        gold = dd.iloc[i][3]
        ft = dd.iloc[i][4]
        dj = dd.iloc[i][5]
        agg = dd.iloc[i][6]

        sp500_cash = round(sp_value * (1 + sp500) ,2)

        hs_cash = round(hs_value * (1 + hs) ,2)

        gold_cash = round(gold_value * (1 + gold) ,2)

        ft_cash = round(ft_value * (1 + ft) ,2)

        dj_cash = round(dj_value * (1 + dj) ,2)

        agg_cash = round(agg_value * (1 + agg) ,2)

        sv = round(sum([agg_cash, dj_cash, ft_cash, gold_cash, hs_cash, sp500_cash]),2)
        mm = 'Month ' + str(i)
        data3 = data3.append({'Start_date':sd,'Month':mm, 'Date': dt, 'Start_Value':sv2, 'Return_Value': sv },ignore_index = True)

1983-12-30
1984-01-31
1984-02-29
1984-03-30
1984-04-30
1984-05-31
1984-06-29
1984-07-31
1984-08-31
1984-09-28
1984-10-31
1984-11-30
1984-12-31
1985-01-31
1985-02-28
1985-03-29
1985-04-30
1985-05-31
1985-06-28
1985-07-31
1985-08-30
1985-09-30
1985-10-31
1985-11-29
1985-12-31
1986-01-31
1986-02-28
1986-03-31
1986-04-30
1986-05-30
1986-06-30
1986-07-31
1986-08-29
1986-09-30
1986-10-31
1986-11-28
1986-12-31
1987-01-30
1987-02-27
1987-03-31
1987-04-30
1987-05-29
1987-06-30
1987-07-31
1987-08-31
1987-09-30
1987-10-30
1987-11-30
1987-12-31
1988-01-29
1988-02-29
1988-03-31
1988-04-29
1988-05-31
1988-06-30
1988-07-29
1988-08-31
1988-09-30
1988-10-31
1988-11-30
1988-12-30
1989-01-31
1989-02-28
1989-03-31
1989-04-28
1989-05-31
1989-06-30
1989-07-31
1989-08-31
1989-09-29
1989-10-31
1989-11-30
1989-12-29
1990-01-31
1990-02-28
1990-03-30
1990-04-30
1990-05-31
1990-06-29
1990-07-31
1990-08-31
1990-09-28
1990-10-31
1990-11-30
1990-12-31
1991-01-31
1991-02-28
1991-03-29
1991-04-30
1991-05-31
1991-06-28
1991-07-31
1991-08-30
1991-09-30
1991-10-31
1991-11-29
1991-12-31
1992-01-31
1992-02-28
1992-03-31
1992-04-30
1992-05-29
1992-06-30
1992-07-31
1992-08-31
1992-09-30
1992-10-30
1992-11-30
1992-12-31
1993-01-29
1993-02-26
1993-03-31
1993-04-30
1993-05-31
1993-06-30
1993-07-30
1993-08-31
1993-09-30
1993-10-29
1993-11-30
1993-12-31
1994-01-31
1994-02-28
1994-03-31
1994-04-29
1994-05-31
1994-06-30
1994-07-29
1994-08-31
1994-09-30
1994-10-31
1994-11-30
1994-12-30
1995-01-31
1995-02-28
1995-03-31
1995-04-28
1995-05-31
1995-06-30
1995-07-31
1995-08-31
1995-09-29
1995-10-31
1995-11-30
1995-12-29
1996-01-31
1996-02-29
1996-03-29
1996-04-30
1996-05-31
1996-06-28
1996-07-31
1996-08-30
1996-09-30
1996-10-31
1996-11-29
1996-12-31
1997-01-31
1997-02-28
1997-03-31
1997-04-30
1997-05-30
1997-06-30
1997-07-31
1997-08-29
1997-09-30
1997-10-31
1997-11-28
1997-12-31
1998-01-30
1998-02-27
1998-03-31
1998-04-30
1998-05-29
1998-06-30
1998-07-31
1998-08-31
1998-09-30
1998-10-30
1998-11-30
1998-12-31
1999-01-29
1999-02-26
1999-03-31
1999-04-30
1999-05-31
1999-06-30
1999-07-30
1999-08-31
1999-09-30
1999-10-29
1999-11-30
1999-12-31
2000-01-31
2000-02-29
2000-03-31
2000-04-28
2000-05-31
2000-06-30
2000-07-31
2000-08-31
2000-09-29
2000-10-31
2000-11-30
2000-12-29
2001-01-31
2001-02-28
2001-03-30
2001-04-30
2001-05-31
2001-06-29
2001-07-31
2001-08-31
2001-09-28
2001-10-31
2001-11-30
2001-12-31
2002-01-31
2002-02-28
2002-03-29
2002-04-30
2002-05-31
2002-06-28
2002-07-31
2002-08-30
2002-09-30
2002-10-31
2002-11-29
2002-12-31
2003-01-31
2003-02-28
2003-03-31
2003-04-30
2003-05-30
2003-06-30
2003-07-31
2003-08-29
2003-09-30
2003-10-31
2003-11-28
2003-12-31
2004-01-30
2004-02-27
2004-03-31
2004-04-30
2004-05-31
2004-06-30
2004-07-30
2004-08-31
2004-09-30
2004-10-29
2004-11-30
2004-12-31
2005-01-31
2005-02-28
2005-03-31
2005-04-29
2005-05-31
2005-06-30
2005-07-29
2005-08-31
2005-09-30
2005-10-31
2005-11-30
2005-12-30
2006-01-31
2006-02-28
2006-03-31
2006-04-28
2006-05-31
2006-06-30
2006-07-31
2006-08-31
2006-09-29
2006-10-31
2006-11-30
2006-12-29
2007-01-31
2007-02-28
2007-03-30
2007-04-30
2007-05-31
2007-06-29
2007-07-31
2007-08-31
2007-09-28
2007-10-31
2007-11-30
2007-12-31
2008-01-31
2008-02-29
2008-03-31
2008-04-30
2008-05-30
2008-06-30
2008-07-31
2008-08-29
2008-09-30
2008-10-31
2008-11-28
2008-12-31
2009-01-30
2009-02-27
2009-03-31
2009-04-30
2009-05-29
2009-06-30
2009-07-31
2009-08-31
2009-09-30
2009-10-30
2009-11-30
2009-12-31
2010-01-29
2010-02-26
2010-03-31
2010-04-30
2010-05-31
2010-06-30
2010-07-30
2010-08-31
2010-09-30
2010-10-29
2010-11-30
2010-12-31
2011-01-31
2011-02-28
2011-03-31
2011-04-29
2011-05-31
2011-06-30
2011-07-29
2011-08-31
2011-09-30
2011-10-31
2011-11-30
2011-12-30
2012-01-31
2012-02-29
2012-03-30
2012-04-30
2012-05-31
2012-06-29
2012-07-31
2012-08-31
2012-09-28
2012-10-31
2012-11-30
2012-12-31
2013-01-31
2013-02-28
2013-03-29
2013-04-30
2013-05-31
2013-06-28
2013-07-31
2013-08-30
2013-09-30
2013-10-31
2013-11-29
2013-12-31
2014-01-31
2014-02-28
2014-03-31
2014-04-30
2014-05-30
2014-06-30
2014-07-31
2014-08-29

In [23]:
data3

      Start_date     Month       Date  Start_Value  Return_Value
0     1983-12-30   Month 1 1984-01-31    100000.00     102462.57
1     1983-12-30   Month 2 1984-02-29    102462.57     101907.72
2     1983-12-30   Month 3 1984-03-30    101907.72     101779.79
3     1983-12-30   Month 4 1984-04-30    101779.79     101413.76
4     1983-12-30   Month 5 1984-05-31    101413.76      97486.61
...          ...       ...        ...          ...           ...
22135 2014-08-29  Month 56 2019-04-30    117589.33     118325.09
22136 2014-08-29  Month 57 2019-05-31    118325.09     116789.97
22137 2014-08-29  Month 58 2019-06-28    116789.97     123104.54
22138 2014-08-29  Month 59 2019-07-31    123104.54     123980.13
22139 2014-08-29  Month 60 2019-08-30    123980.13     126529.57

[22140 rows x 5 columns]

In [24]:
data3.to_csv('benchmark65_70_60months.csv')

In [25]:
### Mean Return
print('Mean Return 65-70:' , round(data3[data3.Month == 'Month 60']['Return_Value'].mean(),2))

Mean Return 65-70: 141676.27

In [26]:
### Min Return
get_min(data3, 'Month 60')

Start Date: 2010-12-31 00:00:00
End Date: 2015-12-31 00:00:00
Return: 109549.89

In [27]:
### Max Return
get_max(data3, 'Month 60')

Start Date: 1984-07-31 00:00:00
End Date: 1989-07-31 00:00:00
Return: 191260.31

In [28]:
### Top 10
top_return(data3, 'Month 60', 10)

Start_date   End_date  Return_Value
1984-07-31 1989-07-31     191260.31
2003-02-28 2008-02-29     190856.97
2003-03-31 2008-03-31     189762.08
2002-10-31 2007-10-31     186064.78
2003-01-31 2008-01-31     185422.38
1984-12-31 1989-12-29     185357.25
1984-11-30 1989-11-30     185185.96
2002-09-30 2007-09-28     184905.52
2003-04-30 2008-04-30     183528.28
2002-12-31 2007-12-31     182239.59

In [29]:
### Bottom 10
bottom_return(data3, 'Month 60', 10)

Start_date   End_date  Return_Value
2010-12-31 2015-12-31     109549.89
2011-05-31 2016-05-31     110130.48
2011-01-31 2016-01-29     110535.75
1997-09-30 2002-09-30     110727.74
2012-01-31 2017-01-31     111086.08
2012-02-29 2017-02-28     111521.82
2011-02-28 2016-02-29     111657.23
1998-03-31 2003-03-31     111682.58
1997-07-31 2002-07-31     111764.52
2011-04-29 2016-04-29     111867.32